.categories{
    max-width: 290px;
}

.list{
    
}
.list li{
    border-bottom: 1px solid #ececec;
    padding-bottom: 17px;
    margin-bottom: 19px;
}

.active{
    
    
    font-weight: bold;
}
.net{
    
}