.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    gap: 20px;
    max-width: 900px;
}
.product{
    display: flex;
    flex-direction: column;
}

.active{
    background-color: rgb(55, 31, 190);
}

.net{
    color: brown;
}

.main{
    display: flex;
    justify-content: space-between;
}